<head>
  <link href="/Content/CSS/bootstrap.css" rel="stylesheet">
  <link href="/Content/CSS/styles.css" rel="stylesheet">
  <meta charset="utf-8">
</head>
<body>
<h1>Add new restaurant</h1>
<form action = "/restaurants/new" method = "post">
  <label for = "restaurant-name">Restaurant name</label>
  <input id = "restaurant-name" name = "restaurant-name" type = "text">
  <select name = "cuisine-id">
    @foreach (var cuisine in Model)
    {
      <option value = "@cuisine.GetId()">@cuisine.GetCuisine()</option>
    }
  </select>
  <button type = "submit" class="btn btn-success">Add new restaurant</button>
</form>
<p><a href = "/">Back home</a></p>
<p><a href = "/restaurants">View all restaurants</a></p>
</body>
