<head>
  <link href="/Content/CSS/bootstrap.css" rel="stylesheet">
  <link href="/Content/CSS/styles.css" rel="stylesheet">
  <meta charset="utf-8">
</head>
<body>
<h1>Here are the restaurants that match:</h1>

<ol>
@foreach (var restaurant in @Model)
  {
  <li>@restaurant.GetName()</li>
  }
</ol>
<p><a href="/">Return home</a></p>
</body>
