<html>
<head>
  <link href="../Content/CSS/bootstrap.css" rel="stylesheet">
  <link href="../Content/CSS/styles.css" rel="stylesheet">
  <meta charset="utf-8">
</head>
<body>
<h1>Add new review</h1>
<form action = "/reviews/new" method = "post">
  <label for = "review-name">add review</label>
  <input id = "review-name" name = "review-name" type = "text">
  <select name = "cuisine-id">
    @foreach (var cuisine in Model)
    {
      <option value = "@cuisine.GetId()">@cuisine.GetName()</option>
    }
  </select>

  <button type = "submit"  class="btn btn-success">Add new review</button>
</form>
<p><a href = "/">Back home</a></p>
</body>
</html>
