<form action = "/result" method = "post">
  <label for = "search">search a cuisine</label>
  <input id = "search" name = "search" type = "text">
  <button type = "submit">find a cuisine</button>
</form>
