<head>
  <link href="Content/CSS/bootstrap.css" rel="stylesheet">
  <link href="Content/CSS/styles.css" rel="stylesheet">
  <meta charset="utf-8">
</head>
<body>
<form action = "/result" method = "post">
  <label for = "search">search a cuisine</label>
  <input id = "search" name = "search" type = "text">
  <button type = "submit">find a cuisine</button>
</form>
</body>
